
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Document</title>
  
    <style>
    header {
      
osition: absolute;
width: 1440px;
height: 117px;
left: 0px;
top: 0px;
margin-bottom:20px;

background: #84A59D;
      h3 {
      position: absolute;
width: 352px;
height: 71px;
left: 85px;
top: 23px;

font-family: Archivo;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 70px;

color: #000000;
      }
    </style>
  </head>
  <body>
    <header><h3>Happy Hour<h3></header>
    <form method="post">
      {%csrf_token%}
      {{form}}
      <button type="submit" >Submit</button>
    </form>
    {% for x in list %}
    <h2>
      <a>{{x}}</a>
    </h2>
    {% endfor %}
  </body>
</html>
