
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Document</title>
  
    <style>
    header {
      
osition: absolute;
width: 1440px;
height: 117px;
left: 0px;
top: 0px;
margin-bottom:20px;

background: #84A59D;
      
    </style>
  </head>
  <body>
    <header>Happy Hour</header>
    <form method="post">
      {%csrf_token%}
      {{form}}
      <button type="submit" >Submit</button>
    </form>
    {% for x in list %}
    <h2>
      <a>{{x}}</a>
    </h2>
    {% endfor %}
  </body>
</html>
